<html></html>
<head></head>
<body>
<h2>Stupid coaching</h2>
<form action="/answer" data-turbo="false">
  <label type="text" value="ask your coach anything:">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
</body>