<html></html>
<head></head>
<body>
<h2>Stupid coaching</h2>
<div>
  <div>
    <div class="first_col"></div>
    <div>
      <p><%=@student_ask %><p>
      <p>Yoo</p>
    </div>
  </div>
  <div>
    <div></div>
    <div>
      <p><%=@coach_answer %><p>
      <p>Your couch</p>
    </div>
 </div>
</div>
<div>
  <%= link_to "ask a new question", ask_path %>     
</div>
</body>